{%- assign t = template | split: '.' | first -%}
<div class="container mx-auto px-4 my-2 sm:px-6 lg:px-8">
  <nav class="bg-white flex" aria-label="Breadcrumb">
    <ol class="flex py-4 space-x-4">
      <li class="flex">
        <div class="flex items-center">
          <a href="#" class="text-gray-400 hover:text-gray-500">
            <!-- Heroicon name: solid/home -->
            <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
            <span class="sr-only">Home</span>
          </a>
        </div>
      </li>
  {%- case t -%}
    {%- when 'page' -%}
      <li class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
        <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
      </div>
      </li>
    {%- when 'product' -%}
      {%- if collection.url -%}
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
          </div>
        </li>
      {%- endif -%}
      <li class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ product.url }}">{{ product.title }}</a>
        </div>
      </li>
    {%- when 'collection' and collection.handle -%}
      {%- if current_tags -%}
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ collection.url }}">{{ collection.title }}</a>
          </div>
        </li>
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ tag_url }}">{{ current_tags | join: " + " }}</a>
          </div>
        </li>
      {%- else -%}
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
          <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ collection.url }}">{{ collection.title }}</a>
        </li>
      {%- endif -%}
    {%- when 'blog' -%}
      {%- if current_tags -%}
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ blog.url }}">{{ blog.title }}</a>
          </div>
        </li>
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ tag_url }}">{{ current_tags | join: " + " }}</a>
          </div>
        </li>
      {%- else -%}
        <li class="flex">
          <div class="flex items-center">
            <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
            </svg>
            <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ blog.url }}">{{ blog.title }}</a>
          </div>
        </li>
      {%- endif -%}
    {%- when 'article' -%}
      <li class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a class="ml-4 text-sm font-medium" aria-current="page" href="{{ blog.url }}">{{ blog.title }}</a>
        </div>
      </li>
      <li class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a class="ml-4 text-sm font-medium" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
        </div>
      </li>
    {%- else -%}
      <li class="flex">
        <div class="flex items-center">
          <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
            <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
          </svg>
          <a class="ml-4 text-sm font-medium" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
        </div>
      </li>
  {%- endcase -%}
    </ol>
  </nav>
</div>